/* Styling for WP-Headlines plugin */

.wph_title_input{
	font-size: 1.7em;
	height: 1.7em;
	line-height: 100%;
	margin: 0;
	outline: 0 none;
	padding: 3px 8px;
	width: 100%;
	margin-bottom: 10px;
}
.wph_title_label{
	font-size:1.2em;
	padding-bottom:6px;
}

#wph_container .button, #wph_container .button{
	margin-bottom: 2px;
}

.title_inputs.row{
    margin-bottom: 15px;
}